@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}

.card {
  width: 300px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
  background-color: honeydew;
  margin: auto;
  margin-top: 10px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

.card.heart .top,
.card.heart .bottom,
.card.diamond .top,
.card.diamond .bottom {
  color: red;
}

.card.spade .top,
.card.spade .bottom,
.card.club .top,
.card.club .bottom {
  color: black;
}

.top {
  font-size: 80px;
}

.bottom {
  transform: scale(-1, -1);
  font-size: 80px;
}

.number {
  font-size: 80px;
}
